USE [master]
GO
/****** Object:  Database [ReminderApp]    Script Date: 22-06-2019 19:53:00 ******/
CREATE DATABASE [ReminderApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReminderApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ReminderApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReminderApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ReminderApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReminderApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReminderApp]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 22-06-2019 19:53:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[REMINDERID] [int] IDENTITY(1,1) NOT NULL,
	[REMINDERNAME] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[REMINDTIME] [datetime] NULL,
 CONSTRAINT [PK_Reminders] PRIMARY KEY CLUSTERED 
(
	[REMINDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
